services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8502:8501"
    depends_on:
      - api